In [1]:
import torch
import random
from seeker.random import RandomSelectPairSeeker, RandomSelectSeeker, RangeGenSeeker, DistributionGenSeeker
from seeker.gradiant_based import WhiteboxSeeker, BlackboxSeeker, FoolSeeker
from utils import UnfairMetric, load_model
from data import adult, german, loans_default
from train_dnn import get_data
from models.model import MLP
from distances.normalized_mahalanobis_distances import ProtectedSEDistances
from distances.sensitive_subspace_distances import LogisticRegSensitiveSubspace
from distances.binary_distances import BinaryDistance
from IPython.display import display

%load_ext autoreload
%autoreload 2

In [2]:
# data
data_name = 'adult'
use_sensitive_attr = True
sensitive_vars = ['sex_Male']
# model
rand_seed = 0
trainer_name = 'std'
rho=0.1
_note = ''
note=_note if trainer_name == 'std' else _note + f'rho={rho}'
# others
device = 'cpu'

In [3]:
data_choices = {
    'adult': adult,
    'german': german,
    'loans_default': loans_default
}
data = data_choices[data_name]
data_gen = data.Generator(use_sensitive_attr, sensitive_vars, device)

dataset, train_dl, test_dl = get_data(data, rand_seed, sensitive_vars=sensitive_vars)
dataset.use_sensitive_attr = use_sensitive_attr
in_dim = dataset.dim_feature()
out_dim = 2

all_X, all_y = dataset.get_all_data(), dataset.labels

In [4]:
model = MLP(in_dim, out_dim, data_gen=data_gen, n_layers=4, norm=False)
load_model(model, data_name, trainer_name, use_sensitive_attr=use_sensitive_attr, \
           sensitive_vars=sensitive_vars, id=rand_seed, note=note)

In [5]:
distance_x_Causal = ProtectedSEDistances()
distance_x_LR = LogisticRegSensitiveSubspace()
distance_y = BinaryDistance()

if use_sensitive_attr:
    distance_x_Causal.fit(num_dims=dataset.dim_feature(), data_gen=data_gen, sensitive_idx=dataset.sensitive_idxs)
    chosen_dx = distance_x_Causal
else:
    sensitive_ = dataset.data[:, dataset.sensitive_idxs]
    distance_x_LR.fit(dataset.get_all_data(), data_gen=data_gen, data_SensitiveAttrs=sensitive_)
    chosen_dx = distance_x_LR

In [6]:
x = torch.zeros(chosen_dx.num_dims)
pert = 10*torch.diag(torch.ones_like(x))
g = torch.zeros_like(x)
for i in range(g.shape[0]):
    g[i] = chosen_dx(x, x+pert[i])
epsilon = (1/torch.min(g[g!=0])).item()
epsilon

99997992.0

In [7]:
epsilon = 1e8
unfair_metric = UnfairMetric(dx=chosen_dx, dy=distance_y, epsilon=epsilon)

In [8]:
def show_result(result):
    pair, n_query = result[0], result[1]
    if len(result) == 3:
        print(f'n_iters = {result[2]}')
    if pair != None:
        display(data_gen.feature_dataframe(data = pair), n_query)
    else:
        display('not found')

In [9]:
# random.seed(422)
# torch.manual_seed(422)

# select_seeker = RandomSelectSeeker(model=model, unfair_metric=unfair_metric, data=dataset.get_all_data(), data_gen=data_gen)
# for _ in range(3):
#     show_result(select_seeker.seek(max_query=1e5))

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,18,0,0,10,15,1,0,4,11,2,2
1,18,1,0,10,15,1,0,4,11,2,2

6314

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,18,0,0,9,10,1,0,4,12,3,2
1,18,1,0,9,10,1,0,4,12,3,2

4928

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,22,0,0,13,16,1,0,4,11,1,2
1,22,1,0,13,16,1,0,4,11,1,2

4030

In [10]:
# random.seed(422)
# torch.manual_seed(422)

# distribution_seeker = DistributionGenSeeker(model=model, unfair_metric=unfair_metric, data_gen=data_gen)
# for _ in range(3):
#     show_result(distribution_seeker.seek(max_query=1e5))

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,20,0,0,12,13,1,1,2,3,1,5
1,20,1,0,12,13,1,1,2,3,1,5

2

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,17,0,0,13,10,1,1,2,10,3,2
1,17,1,0,13,10,1,1,2,10,3,2

512

,age,capital-gain,capital-loss,education-num,hours-per-week,race_White,sex_Male,marital-status,occupation,relationship,workclass
0,19,0,0,12,15,1,1,2,11,0,2
1,19,1,0,12,15,1,1,2,11,0,2

2372

In [11]:
random.seed(422)
torch.manual_seed(422)

range_seeker = RangeGenSeeker(model=model, unfair_metric=unfair_metric, data_gen=data_gen)
for _ in range(3):
    show_result(range_seeker.seek(max_query=1e5))

In [ ]:
random.seed(42)
torch.manual_seed(42)

test_seeker = WhiteboxSeeker(model=model, unfair_metric=unfair_metric, data_gen=data_gen)
for i in range(3):
    display(f'try: {i}')
    show_result(test_seeker.seek(origin_lr=0.01, max_query=1e5, lamb=1))

'try: 0'

restart 57
restart 194
restart 289
restart 372
restart 476
restart 601
restart 800
restart 1000
restart 1114
restart 1259
restart 1338
restart 1562
restart 1651
restart 1796
restart 1964
restart 2050
restart 2178
restart 2236
restart 2405
restart 2582
restart 2636
restart 2788
restart 2916
restart 3063
restart 3155
restart 3250
restart 3317
restart 3495
restart 3611
restart 3740
restart 3934
restart 4032
restart 4116
restart 4168
restart 4373
restart 4492
restart 4618
restart 4829
restart 4962
restart 5124
restart 5235
restart 5293
restart 5469
restart 5599
restart 5738
restart 5921
restart 5977
restart 6128
restart 6189
restart 6241
restart 6326
restart 6507
restart 6669
restart 6824
restart 6940
restart 6984
restart 7082
restart 7221
restart 7372
restart 7592
restart 7677
restart 7929
restart 7980
restart 8278
restart 8464
restart 8739
restart 8829
restart 8890
restart 9001
restart 9172
restart 9385
restart 9516
restart 9727
restart 9785
restart 9978
restart 10124
restart 10214
restart 10326
restart 10486
restart 10734
restart 10816
restart 10959
restart 11046
restart 11265
restart 11440
restart 11557
restart 11617
restart 11771
restart 11872
restart 12029
restart 12172
restart 12369
restart 12413
restart 12600
restart 12784
restart 12893
restart 12987
restart 13131
restart 13259
restart 13423
restart 13480
restart 13597
restart 13778
restart 13991
restart 14100
restart 14162
restart 14277
restart 14464
restart 14605
restart 14810
restart 14870
restart 15052
restart 15312
restart 15533
restart 15627
restart 15772
restart 15897
restart 16006
restart 16175
restart 16356
restart 16485
restart 16698
restart 16806
restart 16861
restart 16981
restart 17044
restart 17128
restart 17248
restart 17453
restart 17566
restart 17664
restart 17919
restart 18047
restart 18099
restart 18262
restart 18463
restart 18583
restart 18773
restart 18888
restart 19031
restart 19176
restart 19264
restart 19502
restart 19753
restart 20033
restart 20155
restart 20320
restart 20444
restart 20664
restart 20908
restart 21036
restart 21156
restart 21249
restart 21385
restart 21620
restart 21686
restart 21865
restart 21940
restart 22056
restart 22199
restart 22253
restart 22422
restart 22519
restart 22607
restart 22665
restart 22860
restart 22920
restart 23015
restart 23208
restart 23301
restart 23411
restart 23581
restart 23675
restart 23827
restart 24083
restart 24231
restart 24317
restart 24465
restart 24693
restart 24868
restart 24921
restart 25068
restart 25259
restart 25501
restart 25692
restart 25754
restart 25820
restart 26032
restart 26301
restart 26428
restart 26500
restart 26617
restart 26749
restart 26985
restart 27171
restart 27356
restart 27508
restart 27568
restart 27644
restart 27760
restart 27841
restart 28028
restart 28116
restart 28232
restart 28318
restart 28479
restart 28624
restart 28900
restart 29114
restart 29252
restart 29376
restart 29524
restart 29650
restart 29771
restart 29883
restart 29976
restart 30269
restart 30495
restart 30583
restart 30626
restart 30817
restart 30901
restart 30983
restart 31191
restart 31373
restart 31526
restart 31743
restart 31857
restart 31952
restart 32122
restart 32241
restart 32344
restart 32425
restart 32496
restart 32718
restart 32812
restart 33077
restart 33216
restart 33433
restart 33629
restart 33840
restart 34040
restart 34143
restart 34311
restart 34431
restart 34569
restart 34694
restart 34952
restart 35082
restart 35213
restart 35269
restart 35372
restart 35426
restart 35515
restart 35732
restart 35953
restart 36016
restart 36121
restart 36347
restart 36450
restart 36521
restart 36680
restart 36854
restart 37088
restart 37262
restart 37374
restart 37536
restart 37686
restart 37750
restart 37862
restart 38017
restart 38128
restart 38323
restart 38565
restart 38785
restart 38834
restart 39055
restart 39303
restart 39394
restart 39578
restart 39755
restart 39815
restart 39929
restart 40066
restart 40150
restart 40320
restart 40421
restart 40554
restart 40668
restart 40915
restart 40988
restart 41150
restart 41239
restart 41421
restart 41620
restart 41747
restart 41951
restart 42111
restart 42270
restart 42370
restart 42460
restart 42568
restart 42815
restart 42933
restart 43113
restart 43276
restart 43392
restart 43440
restart 43698
restart 43842
restart 44065
restart 44190
restart 44430
restart 44543
restart 44630
restart 44806
restart 45056
restart 45202
restart 45285
restart 45370
restart 45546
restart 45727
restart 45879
restart 45931
restart 45985
restart 46166
restart 46355
restart 46616
restart 46736
restart 46775
restart 46821
restart 46949
restart 47170
restart 47234
restart 47301
restart 47481
restart 47570
restart 47737
restart 47820
restart 48075
restart 48268
restart 48364
restart 48453
restart 48723
restart 48868
restart 49178
restart 49411
restart 49564
restart 49731
restart 49790
restart 49848
restart 50027
restart 50223
restart 50368
restart 50520
restart 50701
restart 50910
restart 51124
restart 51192
restart 51277
restart 51425
restart 51514
restart 51633
restart 51841
restart 52027
restart 52246
restart 52389
restart 52529
restart 52751
restart 52934
restart 53057
restart 53210
restart 53276
restart 53491
restart 53774
restart 53990
restart 54113
restart 54168
restart 54397
restart 54516
restart 54633
restart 54830
restart 54962
restart 55076
restart 55151
restart 55201
restart 55327
restart 55507
restart 55677
restart 55908
restart 55953
restart 56006
restart 56224
restart 56284
restart 56433
restart 56591
restart 56810
restart 56893
restart 57067
restart 57290
restart 57408
restart 57567
restart 57725
restart 57975
restart 58022
restart 58298
restart 58510
restart 58720
restart 58825
restart 59047
restart 59265
restart 59478
restart 59636
restart 59904
restart 60016
restart 60152
restart 60269
restart 60457
restart 60616
restart 60877
restart 61001
restart 61087
restart 61228
restart 61433
restart 61615
restart 61783
restart 62099
restart 62264
restart 62449
restart 62604
restart 62768
restart 62850
restart 63114
restart 63192
restart 63281
restart 63529
restart 63686
restart 63756
restart 63951
restart 64211
restart 64399
restart 64536
restart 64618
restart 64673
restart 64733
restart 65020
restart 65193
restart 65353
restart 65474
restart 65599
restart 65880
restart 65919
restart 66079
restart 66325
restart 66514
restart 66766
restart 66849
restart 66959
restart 67054
restart 67275
restart 67436
restart 67604
restart 67779
restart 68049
restart 68217
restart 68300
restart 68436
restart 68485
restart 68623
restart 68707
restart 68883
restart 69040
restart 69188
restart 69244
restart 69287
restart 69493
restart 69614
restart 69707
restart 69824
restart 69900
restart 69981
restart 70130
restart 70224
restart 70285
restart 70400
restart 70582
restart 70831
restart 70919
restart 71041
restart 71225
restart 71300
restart 71392
restart 71450
restart 71561
restart 71767
restart 71954
restart 72125
restart 72267
restart 72321
restart 72493
restart 72654
restart 72883
restart 72937
restart 72992
restart 73212
restart 73310
restart 73456
restart 73720
restart 73844
restart 73902
restart 73987
restart 74062
restart 74241
restart 74414
restart 74574
restart 74749
restart 74901
restart 75027
restart 75224
restart 75274
restart 75374
restart 75425
restart 75522
restart 75636
restart 75823
restart 75948
restart 76161
restart 76223
restart 76325
restart 76432
restart 76691
restart 76833
restart 76888
restart 76977
restart 77201
restart 77263
restart 77455
restart 77549
restart 77736
restart 77988
restart 78209
restart 78252
restart 78341
restart 78504
restart 78627
restart 78725
restart 78943
restart 79062
restart 79292
restart 79507
restart 79593
restart 79789
restart 79862
restart 80126
restart 80203
restart 80392
restart 80459
restart 80746
restart 80827
restart 81029
restart 81251
restart 81487
restart 81747
restart 81985
restart 82097
restart 82246
restart 82446
restart 82540
restart 82599
restart 82849
restart 82995
restart 83184
restart 83370
restart 83640
restart 83875
restart 83996

KeyboardInterrupt:

In [ ]:
random.seed(422)
torch.manual_seed(422)

test_seeker = BlackboxSeeker(model=model, unfair_metric=unfair_metric, data_gen=data_gen, easy=False)
for i in range(3):
    display(f'try: {i}')
    show_result(test_seeker.seek(origin_lr=0.1, max_query=1e5, lamb=1))

'try: 0'

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,39,343103,615390,490990,-140161,58479,127880,5,959925,0,...,8,2,4,458887,0,621449,235788,371211,459875,1
1,39,343103,615390,490990,-140161,58479,127880,5,959925,0,...,8,2,4,458887,0,621449,235788,371211,459875,0

771

'try: 1'

restart 500
restart 954
restart 1829
restart 2847
restart 3537
restart 4318
restart 5145
restart 6070
restart 6994
restart 7962
restart 8791
restart 9853

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,73,148434,853021,1232103,101027,560519,-9642,3,73263,3,...,6,7,0,0,866764,530701,334426,385705,11913,1
1,73,148434,853021,1232103,101027,560519,-9642,3,73263,3,...,6,7,0,0,866764,530701,334426,385705,11913,0

10625

'try: 2'

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,35,917845,-17755,717130,74667,593015,-156212,5,579146,1,...,1,-1,3,299253,22619,786796,278335,73552,350130,1
1,35,917845,-17755,717130,74667,593015,-156212,5,579146,1,...,1,-1,3,299253,22619,786796,278335,73552,350130,0

586

In [ ]:
# random.seed(422)
# torch.manual_seed(422)

# test_seeker = BlackboxSeeker(model=model, unfair_metric=unfair_metric, data_gen=data_gen, easy=True)
# for i in range(3):
#     display(f'try: {i}')
#     show_result(test_seeker.seek(origin_lr=0.1, max_query=1e5, lamb=1))

'try: 0'

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,39,342241,616685,494856,-137462,54623,133511,5,954246,0,...,8,2,4,458949,0,621126,235486,370927,459574,1
1,39,342241,616685,494856,-137462,54623,133511,5,954246,0,...,8,2,4,458949,0,621126,235486,370927,459574,0

122

'try: 1'

restart 134
restart 263
restart 404
restart 551
restart 683
restart 821

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,22,685407,351786,1377380,828498,513092,556237,4,147035,0,...,7,2,5,269479,916466,0,532021,76678,103760,1
1,22,685407,351786,1377380,828498,513092,556237,4,147035,0,...,7,2,5,269479,916466,0,532021,76678,103760,0

950

'try: 2'

restart 139
restart 280
restart 420
restart 557
restart 697

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,LIMIT_BAL,MARRIAGE,...,PAY_4,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX
0,73,124237,840553,1221937,86514,543569,-8541,3,65594,3,...,6,8,0,6366,893519,530794,343000,388366,4826,1
1,73,124237,840553,1221937,86514,543569,-8541,3,65594,3,...,6,8,0,6366,893519,530794,343000,388366,4826,0

822